/backend/controller/__pycache__/
/backend/controller/admin/__pycache__/
/backend/controller/doctor/__pycache__/
/backend/controller/patient/__pycache__/
/backend/migrations/
/backend/*.pyc
/backend/.venv
/backend/.env
/backend/instance/